{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title mb-sm-3">
          <h4 class="d-flex justify-content-center">Please enter your email to reset your password!</h4>
        </div>
        <form action="{% url 'reset_password' %}" method="post">

          {% csrf_token %}
          
          {% include 'partials/_messages.html' %}
          
          
         
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control form-control-sm"
              id="emailField"
              value="{{values.email}}"
            />
          </div>
          <br>
          <div class="d-grid gap-2">
            <input type="submit" value="New Password" class="btn btn-lg btn-primary submit-btn" />
          </div>
        </form>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}